body {
	font-family: "Lucida Console", "Lucida Sans Typewriter", sans-serif;
	background-color: black;
	color: #ffffff;
	text-align: center;
}
a {
	color: #018F57;
	text-decoration: none;
}
a:link {
	color: #018F57;
	text-decoration: none;
}

a:visited {
	color: #386B57;
}
a:hover , a:active, a:focus{
	color: #00A30D;
	text-decoration: underline;
}
