body {
	font-family: "Lucida Console", "Lucida Sans Typewriter", sans-serif;
	background-color: black;
	color: #ffffff;
	text-align: center;
}
a {
	color: #018F57;
	text-decoration: none;
}
a:link {
	color: #018F57;
	text-decoration: none;
}

a:visited {
	color: #386B57;
}
a:hover , a:active, a:focus{
	color: #00A30D;
	text-decoration: underline;
}
#navbar {
	text-decoration: none;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}
#navbar li {
	text-decoration: none;
	list-style-type: none;
	display: inline;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: large;

}
